#!/usr/bin/make -f

export DH_VERBOSE = 1

BUILDDIR := $(shell pwd)/deb-build

%:
	dh $@ --buildsystem=meson --builddirectory=$(BUILDDIR)

# Use /usr prefix for Debian packages
override_dh_auto_configure:
	dh_auto_configure --builddirectory=$(BUILDDIR) -- \
		--prefix=/usr \
		--libexecdir=/usr/libexec

# Don't strip during build (dh_strip handles it)
override_dh_auto_install:
	DESTDIR=$$(pwd)/debian/goodhaptic dh_auto_install --builddirectory=$(BUILDDIR)
